***
# <font color=green size=10>**DS-002 - GERENCIAMENTO DE DADOS PARA ANÁLISE - AULA 03**</font>
***

## <font color=green size=6>**ANÁLISE DE DADOS - ESTATÍSTICA DESCRITIVA BÁSICA**</font>

In [3]:
# @title Reiniciando notebook
import pandas as pd

dados = pd.read_csv(r'dengue.csv')

df_dengue = pd.DataFrame(dados, columns = ['Year', 'State', 'Population', 'Region', 'Min_Tmp',
                                               'Max_Tmp', 'Change_Tmp', 'Mean_Tmp', 'Percipitation','Cases'])
df_dengue = df_dengue.dropna()

mediana = df_dengue['Cases'].median()
def ident_se_muitos_casos(casos):
  if casos > mediana:
    return 1
  else:
    return 0

df_dengue['SeveralCases'] = df_dengue['Cases'].apply(ident_se_muitos_casos)

def estado_para_cod(estado):
  if estado == 'Distrito Federal':
    return 1
  elif estado == 'Minas Gerais':
    return 2
  elif estado == 'Parana':
    return 3
  else:
    return 0

df_dengue['FromMainStates'] = df_dengue['State'].apply(estado_para_cod)

def div_duas_regioes(regiao):
  if regiao == 'N' or regiao == 'NE' or regiao == 'CO':
    return 1
  else:
    return 2

df_dengue['FromNNECOorSSE'] = df_dengue['Region'].apply(div_duas_regioes)

df_dengue['%CasesInPop'] = (df_dengue['Cases'] / df_dengue['Population'])*100

##### **01. Calcule as principais estatísticas descritivas relacionadas ao seu banco de dados.**

In [4]:
df_dengue.describe()

,Year,Population,Min_Tmp,Max_Tmp,Change_Tmp,Mean_Tmp,Percipitation,Cases,SeveralCases,FromMainStates,FromNNECOorSSE,%CasesInPop
count,258.000000,2.580000e+02,258.000000,258.000000,258.000000,258.000000,258.000000,2.580000e+02,258.000000,258.000000,258.000000,258.000000
mean,2016.430233,7.726080e+06,19.670000,30.342519,10.672519,24.981279,1375.873953,4.808953e+04,0.500000,0.232558,1.255814,0.589880
std,2.777932,9.051169e+06,2.569256,2.444746,0.968027,2.460819,588.433824,1.169770e+05,0.500972,0.700324,0.437166,0.758514
min,2012.000000,4.695240e+05,12.270000,23.030000,8.320000,17.620000,328.230000,1.000000e+00,0.000000,0.000000,1.000000,0.000012
25%,2014.000000,2.781680e+06,17.755000,28.952500,10.132500,23.347500,862.505000,2.510250e+03,0.000000,0.000000,1.000000,0.086606
50%,2016.000000,3.997956e+06,20.200000,31.015000,10.725000,25.610000,1374.880000,1.137000e+04,0.500000,0.000000,1.000000,0.302892
75%,2019.000000,9.328312e+06,21.850000,32.142500,11.280000,26.907500,1817.225000,3.644525e+04,1.000000,0.000000,2.000000,0.823735
max,2021.000000,4.664913e+07,22.910000,33.960000,13.120000,28.000000,2750.900000,1.033012e+06,1.000000,3.000000,2.000000,4.657000

> Podemos selecionar as colunas de interesse para a análise.

In [5]:
df_dengue[['Population',
           'Min_Tmp',
           'Max_Tmp',
           'Change_Tmp',
           'Mean_Tmp',
           'Percipitation',
           'Cases',
           '%CasesInPop']].describe()

,Population,Min_Tmp,Max_Tmp,Change_Tmp,Mean_Tmp,Percipitation,Cases,%CasesInPop
count,2.580000e+02,258.000000,258.000000,258.000000,258.000000,258.000000,2.580000e+02,258.000000
mean,7.726080e+06,19.670000,30.342519,10.672519,24.981279,1375.873953,4.808953e+04,0.589880
std,9.051169e+06,2.569256,2.444746,0.968027,2.460819,588.433824,1.169770e+05,0.758514
min,4.695240e+05,12.270000,23.030000,8.320000,17.620000,328.230000,1.000000e+00,0.000012
25%,2.781680e+06,17.755000,28.952500,10.132500,23.347500,862.505000,2.510250e+03,0.086606
50%,3.997956e+06,20.200000,31.015000,10.725000,25.610000,1374.880000,1.137000e+04,0.302892
75%,9.328312e+06,21.850000,32.142500,11.280000,26.907500,1817.225000,3.644525e+04,0.823735
max,4.664913e+07,22.910000,33.960000,13.120000,28.000000,2750.900000,1.033012e+06,4.657000

> A notação `e` significa '10 elevado a'. O `+` significa que a potência é positiva e o `02` significa que o número 10 deve ser elevado ao quadrado.

##### **02. Calcule a soma de casos de dengue por ano.**

In [12]:
df_dengue.groupby("Year")['Cases'].sum().to_frame()

        Cases
Year
2012      684
2013  2011699
2014   962070
2015  2388234
2016  2302902
2017   518772
2018   478542
2019  2265740
2020  1477825
2021      630

> 1. Você pode usar o `.sort_values(ascending=True)` para ordernar os valores do menor para o maior caso.
2. Você pode usar o `to_frame()` para transformar os resultados para o formato de dataframe.

##### **03. Identifique o valor máximo de casos de dengue por estado, ordenando do menor para o maior valor.**

In [28]:
df_dengue.groupby("State")["Cases"].max().sort_values()

State
Amapa                     4434
Roraima                   4851
Rio Grande Do Sul         8336
Piaui                    11243
Sergipe                  14773
Rondonia                 15614
Para                     19473
Santa Catarina           23043
Amazonas                 23947
Maranhao                 29890
Tocantins                30901
Alagoas                  33953
Acre                     36795
Paraiba                  44958
Mato Grosso              46693
Rio Grande Do Norte      63369
Distrito Federal         64579
Espirito Santo           83110
Mato Grosso Do Sul       98924
Ceara                   105880
Bahia                   105995
Pernambuco              172890
Goias                   200448
Rio De Janeiro          254654
Parana                  359115
Minas Gerais            666893
Sao Paulo              1033012
Name: Cases, dtype: int64

##### **04. Identifique qual o valor mínimo de variação de temperatura e de casos de dengue em função do ano.**

In [32]:
df_dengue.groupby("Year")[["Change_Tmp", "Cases"]].min()

      Change_Tmp  Cases
Year
2012        9.25      1
2013        8.61   1154
2014        8.81    676
2015        9.01     46
2016        8.51   1930
2017        8.43   1347
2018        8.32     48
2019        8.60    915
2020        8.70    142
2021        8.64      1

##### **05. Calcule a média de casos de dengue, por estado, apenas nas linhas do DataFrame em que SeveralCases for igual a 1.**

In [36]:
df_dengue.query("SeveralCases == 1").groupby("State")['Cases'].mean()

State
Acre                    19095.400000
Alagoas                 23647.400000
Amazonas                19630.500000
Bahia                   61633.375000
Ceara                   59314.500000
Distrito Federal        32416.166667
Espirito Santo          45699.571429
Goias                  133084.250000
Maranhao                29890.000000
Mato Grosso             28232.714286
Mato Grosso Do Sul      73109.200000
Minas Gerais           300759.625000
Para                    16889.500000
Paraiba                 25278.000000
Parana                 115003.375000
Pernambuco              59001.000000
Rio De Janeiro          81666.000000
Rio Grande Do Norte     30478.571429
Rondonia                14906.000000
Santa Catarina          16279.666667
Sao Paulo              445463.750000
Sergipe                 13153.000000
Tocantins               21162.400000
Name: Cases, dtype: float64

##### **06. Calcule a média de casos de dengue, por estado, apenas nas linhas do DataFrame em que SeveralCases for igual a 0.**

In [37]:
df_dengue.query("SeveralCases == 0").groupby("State")['Cases'].mean()

State
Acre                   4770.600000
Alagoas                2037.800000
Amapa                  2103.625000
Amazonas               6259.375000
Bahia                     8.500000
Ceara                     4.000000
Distrito Federal       2685.750000
Espirito Santo         3780.500000
Goias                    31.500000
Maranhao               4909.875000
Mato Grosso            3401.000000
Mato Grosso Do Sul     5525.400000
Minas Gerais            111.500000
Para                   7212.400000
Paraiba                5122.250000
Parana                   87.000000
Pernambuco               10.000000
Piaui                  6693.888889
Rio De Janeiro         4258.000000
Rio Grande Do Norte    3177.666667
Rio Grande Do Sul      3196.777778
Rondonia               2817.000000
Roraima                2449.111111
Santa Catarina         2000.000000
Sao Paulo               103.500000
Sergipe                3044.000000
Tocantins              4856.600000
Name: Cases, dtype: float64

##### **07. Crie um novo DataFrame com esses valores dos Itens 05 e 06.**

In [43]:
ds_cases_mean_by_lesser_several_cases = df_dengue.query("SeveralCases == 0").groupby("State")['Cases'].mean()
ds_cases_mean_by_greater_several_cases = df_dengue.query("SeveralCases == 1").groupby("State")['Cases'].mean()
df_cases_mean_by_several_cases = pd.concat(
    [
        ds_cases_mean_by_lesser_several_cases,
        ds_cases_mean_by_greater_several_cases
    ], axis=1, keys=["LesserSeveralCases","GreaterSeveralCases"])
df_cases_mean_by_several_cases

                     LesserSeveralCases  GreaterSeveralCases
State
Acre                        4770.600000         19095.400000
Alagoas                     2037.800000         23647.400000
Amapa                       2103.625000                  NaN
Amazonas                    6259.375000         19630.500000
Bahia                          8.500000         61633.375000
Ceara                          4.000000         59314.500000
Distrito Federal            2685.750000         32416.166667
Espirito Santo              3780.500000         45699.571429
Goias                         31.500000        133084.250000
Maranhao                    4909.875000         29890.000000
Mato Grosso                 3401.000000         28232.714286
Mato Grosso Do Sul          5525.400000         73109.200000
Minas Gerais                 111.500000        300759.625000
Para                        7212.400000         16889.500000
Paraiba                     5122.250000         25278.000000
Parana                        87.000000        115003.375000
Pernambuco                    10.000000         59001.000000
Piaui                       6693.888889                  NaN
Rio De Janeiro              4258.000000         81666.000000
Rio Grande Do Norte         3177.666667         30478.571429
Rio Grande Do Sul           3196.777778                  NaN
Rondonia                    2817.000000         14906.000000
Roraima                     2449.111111                  NaN
Santa Catarina              2000.000000         16279.666667
Sao Paulo                    103.500000        445463.750000
Sergipe                     3044.000000         13153.000000
Tocantins                   4856.600000         21162.400000

##### **08. Compare as médias de casos de dengue nos cenários com e sem muitos casos.**

##### **09. Calcule o percentual de casos de dengue superiores à mediana em cada um dos estados que, geralmente, mais possuem casos da doença.**

##### **10. Calcule o desvio padrão dos valores de casos de dengue e da variação de temperatura.**

> Associado ou não ao groupby, **o Pandas nos oferece diversos cálculos estatísticos, tais como:** sum(), mean(), median(), mode(), var(), std(), max(), min(), quantile(0.25), quantile(0.75) e value_counts().

> **Para cálculo de outliers, podemos usar a seguinte estratégia:**

```
# Exemplo de DataFrame
dados = pd.DataFrame({'valores': [10, 15, 20, 25, 30, 100, 105, 110, 115]})

# Cálculo dos quartis
q1 = dados['valores'].quantile(0.25)
q3 = dados['valores'].quantile(0.75)

# Cálculo do IQR
iqr = q3 - q1

# Cálculo dos limites superior e inferior
limite_inferior = q1 - 1.5 * iqr
limite_superior = q3 + 1.5 * iqr

# Identificação dos outliers
outliers = dados[(dados['valores'] < limite_inferior) | (dados['valores'] > limite_superior)]
```

## <font color=green size=6>**TAREFA 03**</font>

*Esta é a atividade que você fará nas suas horas de aula on-line.*

**1. Usando a base de dados sobre casos de dengue no Brasil, `df_dengue`, calcule a média de precipitação em cada um dos dois conjuntos de regiões brasileiras (variável `FromNNECOorSSE`) e a quantidade de casos de dengue. Em seguida, faça o mesmo, mas calculando os valores mínimo e máximo.**